@model FransfordSystem.Models.Descripcion

@{
    ViewData["Title"] = "Index";
}
<h1>Registro de descripciones de los examanes</h1>

<p>
    <a href="@Url.Action("Index", "Examenes")" class="btn btn-primary" role="button" aria-pressed="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
</svg>  Regresar a la lista de examenes</a>
</p>

<table class="table table-hover" id="Tabla">
    <thead>
        <tr align="center">
            <th>
                @Html.DisplayNameFor(model => model.descripcionExamen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorMinimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorMaximo)
            </th>
            <th>
                <a>Opción editar</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Descripcion Descripcion in ViewBag.Descripciones) {
        <tr align="center">
                      

            <td>@Descripcion.descripcionExamen</td>
            <td>@Descripcion.valorMinimo</td>
            <td>@Descripcion.valorMaximo</td>

            <td align="center">
                <a asp-action="Edit" asp-route-id="@Descripcion.idDescripcion" class="btn btn-secondary" role="button" aria-pressed="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                </svg> Editar</a>
            </td>
            </tr>
    
        }
    </tbody>
</table>
