@model FransfordSystem.Models.Trabajador

@{
    ViewData["Title"] = "Mostrar";
}

<h1>Mostrar</h1>

<div>
    <h4>Trabajador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreTrabajador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreTrabajador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apellidoTrabajador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apellidoTrabajador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dui)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dui)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cuentaBancaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cuentaBancaria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model?.IdTrabajador">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
