@model FransfordSystem.Models.Examen

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del examen</h1>

<div>
    <h4>Consulta de la información completa del registro de los examenes</h4>
    <hr />
    <table style="width:auto; height:20px" class="table table-condensed table-bordered table-hover">
        <tr>       
            <th>
            @Html.DisplayNameFor(model => model.idCategoria)
            </th>            
            <th>
            @Html.DisplayFor(model => model.idCategoria)
            </th>
        </tr>
        <tr>       
            <th>
            @Html.DisplayNameFor(model => model.nombreExamen)
            </th>          
            <th>
            @Html.DisplayFor(model => model.nombreExamen)
            </th>
        </tr>
        <tr>       
            <th>
            @Html.DisplayNameFor(model => model.PrecioExamen)
            </th>             
            <th>
            @Html.DisplayFor(model => model.PrecioExamen)
            </th>
        </tr>     
  
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idExamen">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
