@model IEnumerable<FransfordSystem.Models.Examen>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreExamen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioExamen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreExamen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioExamen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idExamen">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idExamen">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idExamen">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
